@mixin titleFont {
  font-family: 'Baloo 2', sans-serif;
  line-height: 1.3;
}

// TYPOGRAPH TITLE
@mixin titleXL {
  @include titleFont;
  font-size: 48px;
  font-weight: 800;
}
@mixin titleL {
  @include titleFont;
  font-size: 32px;
  font-weight: 800;
}
@mixin titleM {
  @include titleFont;
  font-size: 24px;
  font-weight: 800;
}
@mixin titleS {
  @include titleFont;
  font-size: 20px;
  font-weight: 700;
}
@mixin titleXS {
  @include titleFont;
  font-size: 18px;
  font-weight: 700;
}

// TYPOGRAPH TEXT
@mixin textL {
  font-size: 20px;
  line-height: 1.3;
  font-weight: 700;
}
@mixin textM {
  font-size: 16px;
  line-height: 1.3;
  font-weight: 700;
}
@mixin textS {
  font-size: 14px;
  line-height: 1.3;
  font-weight: 400;
}
@mixin textXS {
  font-size: 12px;
  line-height: 1.3;
  font-weight: 700;
}

// BTN DEFINITION
@mixin tagBtn {
  font-size: 10px;
  line-height: 1.3;
  font-weight: 700;
}
@mixin buttonG {
  font-size: 14px;
  line-height: 1.6;
  font-weight: 700;
}
@mixin buttonM {
  font-size: 12px;
  line-height: 1.6;
  font-weight: 400;
}
