@import '../../styles/variables.scss';

.container {
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 17.5px 16px;
  background-color: $base-button;
  color: $base-text;
  border: none;
  min-width: 178px;
  border-radius: 6px;
  text-transform: uppercase;
  transition: background-color 0.6s;

  &:not(.selected):hover {
    background-color: $base-hover;
  }

  .contentBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }
}

.selected {
  background-color: $purple-light;
  border: 1px solid $purple;
}
